<mat-toolbar color="accent">
    <a routerLink="/home" 
    mat-icon-button 
    class="example-icon" 
    aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </a>
    <span>UG-ADMISSION</span>
    <span class="example-spacer"></span>

    <a 
    *ngIf="!isLoggedIn"
    [routerLink]="'/login'"
    mat-icon-button 
    class="" 
    aria-label="">
      Login
    </a>

    <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'"
    mat-icon-button 
    class="mr20 ml20" 
    aria-label="">
      Signup
    </a>
    

    <span class="adminbutton"  *ngIf="isLoggedIn&&user.role.roleName===adminRoleName">
      <a mat-icon-button routerLink="admin/institutes" id="adminInstitute" routerLinkActive="active" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       Institutes
      </a>

      <a mat-icon-button routerLink="admin/courses" id="adminCourse"routerLinkActive="active"  class="nav-link" aria-label="Example icon-button with heart icon">
        Courses
      </a>

      <a mat-icon-button routerLink="admin/students" id="adminStudents" routerLinkActive="active"  class="nav-link" aria-label="Example icon-button with heart icon">
        Students
      </a>

      <a mat-icon-button id="menubar" [matMenuTriggerFor]="menu" id="menubar" class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
       {{user.username}} <mat-icon>arrow_drop_down</mat-icon></a>
        <mat-menu #menu="matMenu">
          
          <button mat-menu-item routerLink="admin/users"><mat-icon>layers</mat-icon>User Management</button>
          <button mat-menu-item routerLink="admin/approved"><mat-icon>layers</mat-icon>Approved Applications</button>
          <button mat-menu-item routerLink="admin/rejected"><mat-icon>layers_clear</mat-icon>Rejected Applications</button>
          <button  mat-menu-item (click)="logout()" id="logout"><mat-icon>exit_to_app</mat-icon>Logout</button>
        </mat-menu>
        <a mat-icon-button (click)="logout()" id="logout" style="margin-right: 2px;" routerLinkActive="active"  class="nav-link" aria-label="Example icon-button with heart icon">
          <mat-icon>exit_to_app</mat-icon>
        </a>

    </span>

    
    <span class="adminbutton" *ngIf="isLoggedIn&&user.role.roleName===userRoleName&&userRoleName!==undefined">
      <a mat-icon-button routerLink="user/viewinstitute" routerLinkActive="active" id="userInstitute"  class="nav-link" aria-label="Example icon-button with heart icon">
       Institutes
      </a>

      

      <a mat-icon-button routerLink="user/enrolledcourse" routerLinkActive="active" id="userEnrolledCourse" class="nav-link" aria-label="Example icon-button with heart icon">
       Enrolled Course
      </a>
      
      <a mat-icon-button [matMenuTriggerFor]="menu"  id="menubar" class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
       {{user.username}}<mat-icon>arrow_drop_down</mat-icon></a>
        <mat-menu #menu="matMenu">
          
          <!-- <button mat-menu-item routerLink="user/profile"><mat-icon>face</mat-icon>Profile</button> -->
          <button  mat-menu-item (click)="logout()" id="logout"><mat-icon>exit_to_app</mat-icon>Logout</button>
        </mat-menu> 
        <a mat-icon-button (click)="logout()" id="logout" style="margin-right: 2px;" routerLinkActive="active"  class="nav-link" aria-label="Example icon-button with heart icon">
          <mat-icon>exit_to_app</mat-icon>
        </a>
     
    </span>
</mat-toolbar>