/*css for full-width class*/ 
.full-width{ 
    width: 100%; 
} 

/*css for half-width class*/ 
.half-width{ 
    width:35%; 
    margin-right: 50px; 
} 

/*css for half-width class*/ 
.error-msg{ 
    font-size: 13px; 
    color: red; 
}  

/*css for button class*/ 
.button{ 
    margin-right: 30px;; 
} 
