
<br/> 
<app-search></app-search> 
<br/> 
<br/> 
<div class="container margin-cut"> 
  <table class="table table-striped"> 
    <thead class="tablehead"> 
        <tr> 
            <th>User id</th> 
            <th>User Name</th> 
            <th>Mail id</th> 
            <th>mobile no</th> 
            <th>Actions</th> 
            
        </tr> 
    </thead> 
    <tbody > 
        
        <tr *ngFor="let user of users | filter:searchtext |paginate:{itemsPerPage:10,currentPage:p} " > 
            <td>{{user.id}}</td> 
            <td>{{user.username}}</td> 
            <td>{{user.email}}</td> 
            <td>{{user.mobileNumber}}</td> 
           
            <td> 
                <button mat-icon-button  classs="btn btn-info"  [routerLink]="user.id"><mat-icon>edit</mat-icon></button> 
                <button mat-icon-button color="warn" (click)="deleteUser(user.id)"><mat-icon>delete_outline</mat-icon></button> 
                
                
            </td> 
            
    
        </tr> 

    </tbody> 
    
    </table> 
    <pagination-controls class="ali"(pageChange)="p=$event"></pagination-controls> 
      


</div> 

